<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reindeermobile.mvpexample"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name="com.reindeermobile.mvpexample.CoreApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidMvpExampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="LocationReceiver" >
        </receiver>
        <activity
            android:name="com.reindeermobile.mvpexample.view.Tab1Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.reindeermobile.mvpexample.view.Tab2Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.reindeermobile.mvpexample.view.Tab3Activity"
            android:label="@string/app_name" >
        </activity>
    </application>
</manifest>